<!DOCTYPE html>
<html Lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>{{Menu}}</title>
</head>

<body>
    <h1>
        {{Menu}}
    </h1>
    <u1>
        <l1><a href='/'>{{Menu}}</a></l1>
        <l1><a href='/producto'>{{Producto}}</a></l1>
        <l1><a href='/cliente'>{{Cliente}}</a></l1>
        <l1><a href='/factura'>{{Factura}}</a></l1>
        <l1><a href='/detallefactura'>{{DetalleFactura}}</a></l1>
    </u1>


</body>

</html>